<!DOCTYPE html>
<html>
<head>
    <title>Taller Mecánico</title>
</head>
<body>



    <h1>Taller Mecánico - Cola de Autos</h1>
    <h3>Autos en la cola:</h3>
    <ul>
        {% for auto in autos %}
            <li>{{ auto }}</li>
        {% endfor %}
    </ul>


    
    <form method="POST" action="/agregar">
        <label>Nombre del auto:</label>
        <input type="text" name="nombre" required>
        
        <label>Falla:</label>
        <input type="text" name="falla" required>
        
        <label>Tiempo de ejecución (hrs):</label>
        <input type="number" name="tiempo" required>
        
        <button type="submit">Agregar auto</button>
    </form>



</body>
</html>